@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&family=Poppins:wght@400;500;700&family=Work+Sans:ital,wght@0,400;0,700;1,500&display=swap");

/* COLORS

Gray:  #62646D
Black: #1A1C20

*/

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  color: #1a1c20;
  background-color: #eeeff1;
}

/* Utility Classes */

.btn {
  cursor: pointer;
  border-radius: 6px;
  background: #000;
  color: #fff;
  border: none;
  padding: 16px 25px;
  font-size: 1.2rem;
  transition: 0.2s ease background;
  text-decoration: none;
}

.btn:hover {
  background: #303031;
}

a {
  color: #1a1c20;
}

.block {
  position: relative;
  border-radius: 8px;
}

.section {
  padding: 0 15% 0 10%;
}

/* HEADER STYLES */

.header {
  position: sticky;
  position: -webkit-sticky;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-right {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.header-left a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.header-logo {
  width: 50px;
  margin-right: 10px;
}

.header-left a p {
  margin-left: 10px;
  font-size: 1.2rem;
  font-weight: 700;
  color: #1a1c20;
}

.btn-header {
  cursor: pointer;
  border-radius: 6px;
  background: #000;
  color: #fff;
  border: none;
  padding: 8px 12.5px;
  font-size: 1rem;
  text-decoration: none;
}

.header-link {
  text-decoration: none;
  margin-right: 20px;
  font-weight: bold;
}

.hamburger {
  display: none;
  cursor: pointer;
  width: 30px;
}

/* HERO STYLES */

.hero {
  margin-top: 10vh;
}

.hero-header {
  font-size: 90px;
  font-weight: 500;
  line-height: 90px;
}

.hero-p {
  color: #62646d;
  font-size: 1.5em;
}

.hero-bg {
  position: absolute;
  top: -6%;
  right: 6%;
  z-index: -1000;
  min-width: 1000px;
  margin-top: 2px;
  overflow: hidden;
}

/* WORK STYLES */

.work {
  margin: 20vh 0;
  padding: 0 10% 0 10%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.experience {
  height: 550px;
  width: 95%;
  background: #5e89ff;
  cursor: pointer;
  transition: 0.2s ease box-shadow;
  overflow: hidden;
  margin-right: 4vh;
  margin-top: 4vh;
}

.experience:hover {
  box-shadow: 5px 5px 15px -3px #5e89ff;
}

.experience-title {
  font-weight: 500;
  bottom: 1em;
  left: 1em;
  position: absolute;
  color: white;
  z-index: 1000;
}

.experience-img {
  position: absolute;
  bottom: -2%;
  left: -2%;
  width: 90%;
  height: 90%;
  object-fit: cover;
  border-radius: 2%;
  -webkit-box-shadow: 7px 6px 20px 4px rgba(0, 0, 0, 0.08);
  box-shadow: 7px 6px 20px 4px rgba(0, 0, 0, 0.08);
}

.experience-gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(16, 32, 44, 0) 63%, #5e89ff);
  border-radius: 1%;
  z-index: 2;
}

/* SOCIAL PROOF STYLES */

.social-proof {
  margin: 20vh 0;
}

.social-proof h1 {
  font-size: 2.8em;
  font-weight: 500;
}

.social-content {
  display: flex;
}

.social-img {
  border-radius: 50%;
  width: 150px;
}

.laura {
  margin-right: 50px;
}

.laura-text {
  font-size: 1.5rem;
}

/* CONTACT STYLES */

.contact {
  margin: 20vh 0;
  text-align: center;
}

.contact h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

/* FOOTER STYLES */

.footer {
  margin: 20vh 0;
  text-align: center;
}

.footer-links {
  display: flex;
  margin-bottom: 2rem;
}

.footer-link {
  color: #8f929e;
  font-weight: bold;
  margin: 0 1rem;
  text-decoration: none;
}

.footer-link:hover {
  color: #717277;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-content img {
  width: 50px;
  margin-right: 1rem;
}

/* SMALL CONTACT STYLES */

.linkedin {
  position: sticky;
  bottom: 10px;
  left: 10px;
  z-index: 1000;
}
.linkedin img {
  width: 25px;
}

/* MEDIA QUERIES */

/* smol */
@media (max-width: 576px) {
}

/* mid */
@media (max-width: 768px) {
  .hero-header {
    font-size: 48px;
    line-height: 48px;
  }

  .section {
    padding: 0 5% 0 5%;
  }

  .work {
    grid-template-columns: 1fr;
  }

  .social-content {
    flex-direction: column;
  }

  .laura {
    width: 100%;
  }

  .laura-text {
    width: 100%;
  }

  .hero-bg {
    top: 0;
    right: 0;
    min-width: 900px;
  }
}

/* sorta large sorta mid */
@media (min-width: 769px) {
  .hero-header {
    font-size: 72px;
    line-height: 74px;
  }
}

/*  large */
@media (min-width: 992px) {
  .hero-header {
    font-size: 72px;
    line-height: 74px;
  }
}

/* x large */
@media (min-width: 1200px) {
}

/* xx large */
@media (max-width: 1400px) {
}
